body {
  margin: 0;
  padding: 0;
  max-width: 400px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 20px auto;
}

header input {
  margin-top: 10px;
  width: 100%;
  font-size: 1.2rem;
  line-height: 2rem;
}

main {
  margin-top: 50px;
  text-transform: uppercase;
}